@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  color:#333333;
  background-color:#FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link{
  color:#000000;
  background-color: #FFFFFF;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  text-align: center;
  text-transform: capitalize;
}

.button-basic{
  color: #FFFFFF;
  background-color:#756257;
  font-family: PT Sans;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
 }

 .button-second{
  color:#FFFFFF;
  background-color: #82B3D3;
  font-family: PT Sans;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
 }

 .button-tertiary{
  color: #FFFFFF;
  background-color: #7DB54F;
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
 }

 .button-transparent{
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  font-family: PT Sans;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
 }

.button-small{
  font-size: 16px;
  font-weight:700;
  line-height: 20px;
}

.button-big{
  font-size: 20px;
  font-weight:700;
  line-height: 36px;
}

.hero{
  text-align: center;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

.subscribe{
  text-align: center;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  background-size: contain;
}

.subscribe-simple{
  color:#333333;
  background-color: #FFFFFF;
  text-align: center;
  background-image: none;
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  background-size: contain;
}

.section-title{
  color:#333333;
  background-color: #FFFFFF;
  text-align: center;
  font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
}

.section-subtitle{
  color:#333333;
  background-color: #FFFFFF;
  text-align: center;
  font-family: PT Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 118.182% */
}

.section-title-light{
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
}

.section-subtitle-light{
  color:#FFFFFF;
  background-color: rgba(0, 0, 0, 0);
}

.advantages-town-title{
  text-align: center;
  font-family: PT Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
}

.advantages-town-subtitle{
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.advantages-town-item{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-town-item-invert{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-town-item-extended{
  color: #FFFFFF;
  background-color: rgba(130, 179, 211, 1);
}

.advantages-service-title{
  color: #000000;
  background-color:rgba(0, 0, 0, 0);
  text-align: center;
  font-family: PT Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
}

.advantages-service-subtitle{
  color: #333;
  background-color: rgba(0, 0, 0, 0)
  text-align: center;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.advantages-service-item{
  background-color: #83B3D31F;
}

.advantages-service-item-invert{
  background-color:#FFFFFF;
}

.footer-contact-phone{
  color: #000000;
  background-color:#FFFFFF;
  text-align: center;
  font-family: PT Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  text-transform: uppercase;
}

.search-wrapper{
  text-align: center;
  background-image: url("../images/filter-background.jpg");
  /*background-repeat: no-repeat;*/
  width: 1200px;

.breadcrumbs-link{
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
}

.hotels-filter-title{
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control{
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
.catalog-filter-input{
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
}

.sorting-hotels-direction{
  color: #333333;
  background-color: rgba(0, 0, 0, 0);
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.hotel-card-title{
  color: #000000;
  background-color: #FFFFFF;
  font-family: PT Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}

hotel-card-type{
  color: #000000;
  background-color: #FFFFFF;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.hotel-card-price{
  color: #000000;
  background-color: #FFFFFF;
  text-align: right;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.hotel-card-detail-link{
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}

.hotel-card-rating{
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}

.pagination-btn{
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 180% */
  text-transform: uppercase;
}

.pagination-btn-current{
  color: #000000;
  background-color:#F2F2F2;
}
