@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

* {
  text-decoration: none;
}

body {
  color:#333333;
  background-color:#f2f2f2;
  font-family: "PT Sans", "Arial", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  padding: 0 70px;
  justify-content: space-between;
}

.page-header-logo {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 16px;
}

.navigation-user {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 22px 12px;
}

.social-list {
  display: flex;
  width: 142px;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}


.navigation-link {
  color:#000000;
  background-color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  justify-content: center;
  padding: 19px 16px;
}

.navigation-link-user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 64px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #756257;
}

/* -- BUTTONS -- */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-primary {
  color: #ffffff;
  background-color: #756157;
}

.button-secondary {
  color: #ffffff;
  background-color: #82b3d3;
}

.button-tertiary {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

.button-quaternary {
  color: #ffffff;
  background-color: #7db54f;
}

.button-header {
  margin-left: 20px;
  min-width: 160px;
}

.button-search-hotels {
  min-width: 376px;
}

.card-grid-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  margin: 0;
}

.card-grid-button-select {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #000000;
}

.sorting-hotels-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.button-subscribe {
  width: 232px;
  height: 52px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.button-hotel-card {
  min-width: 140px;
  min-height: 36px;
}
/* -- END OF BUTTONS -- */

.subscribe {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  padding:  96px 258px 104px 258px;
}

.subscribe-form {
  display: flex;
  text-align: center;
  width: 452px;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  width: 684px;
  height: 215px;
}

.subscribe-field {
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  height: 52px;
  padding: 12px 20px;
}

.subscribe-field-simple {
  background-color: #f2f2f2;
}

.hero-container {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.hero {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 51px 371px;
}

.subscribe-simple {
  color:#333333;
  background-color: #ffffff;
  text-align: center;
  background-image: none;
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  background-size: contain;
}

.advantages-town-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
}

.advantages-service-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}

.section-title {
  margin: 0 auto;
  color:#333333;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-subtitle {
  margin: 0 auto;
  color:#333333;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.advantage-town-title {
  width: 620px;
  margin-bottom: 25px;
}

.advantage-service-title {
  width: 505px;
  margin-bottom: 20px;
}

.section-title-light {
  color: #ffffff;
  padding: 0;
  margin-bottom: 20px;
  width: 404px;
}

.section-subtitle-light {
  color:#ffffff;
  padding: 0;
  margin-bottom: 54px;
  width: 475px;
}

.section-title-dark {
  color: #000000;
  padding: 0;
  margin-bottom: 20px;
  width: 404px;
}

.section-subtitle-dark {
  color:#000000;
  padding: 0;
  margin-bottom: 54px;
  width: 475px;
}

.search-catalog-title {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.advantages-town-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-town-item {
  width: 400px;
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  display: flex;
}

.advantages-town-item-context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 85px;
}

.advantages-town-item:nth-child(even) {
  width: 400px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-town-item-extended {
  grid-column: 1 / span 3;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
}

.advantages-town-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-town-subtitle {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.advantages-town-img {
  width: 800px;
  height: 100%;
  object-fit: cover;
}


.advantages-service-item {
  padding: 80px 85px 80px 85px;
}

.advantages-service-item-context {
  display: grid;
  width: 230px;
  min-height: 223px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 30px;
  justify-items: center;
  align-items: center;
}

.advantage-service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
}

.advantages-service-list {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  list-style-type: none;
}

.advantages-service-icon-housing {
  display: inline-block;
  width: 75px;
  height: 72px;
  background-image: url("../images/motel.svg");
  background-size: 100% 100%;
}

.advantages-service-icon-food {
  display: inline-block;
  width: 75px;
  height: 72px;
  background-image: url("../images/food.svg");
  background-size: 100% 100%;
}

.advantages-service-icon-gifts {
  display: inline-block;
  width: 75px;
  height: 72px;
  background-image: url("../images/gifts.svg");
  background-size: 100% 100%;
}

.advantages-service-header {
  grid-column: 1 /span 3;
}

.advantages-service-title {
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-service-subtitle {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.search-filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 70px;
  padding-top: 35px;
  text-align: center;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.search-hotels-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}


.search-header-title {
  color: #ffffff;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}

.search-hotels-title {
  margin-bottom: 20px;
}

.search-hotels-subtitle {
  margin-bottom: 54px;
}

.advantages-service-subtitle {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.advantages-service-item {
  background-color: #83b3d31f;
}

.advantages-service-item:nth-child(even) {
  background-color:#ffffff;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  padding: 0;
}

.footer-contact-phone {
  color: #000000;
  background-color:#ffffff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

/* -- КАТАЛОГ -- */
.breadcrumbs {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs-item {
  color: #ffffff;
}

.hotels-filter-item-title{
  display: flex;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  align-items: start;
}

.hotels-filter-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hotels-filter-left-items {
  display: flex;
  flex-direction: wrap;
  gap: 70px;
  padding: 0;
  width: 371px;
  height: 157px;
}

.hotels-filter-right-items {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  padding: 0;
  gap: 70px;
}

.hotels-filter-group-infra {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 0;
  border: 0 none;
  width: 150px;
  height: 157px;
}

.hotels-filter-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.hotels-filter-buttons {
  align-self: flex-end;
  width: 191px;
  height: 104px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.catalog-filter-input {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  margin: 0;
  margin-bottom: 36px;
}

.hotels-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hotels-filter-item {
  padding: 0;
}

.hotels-filter-title {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.control-input {
  padding: 0;
  margin: 0;
}

.catalog-filter-input {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.hotels {
  padding: 50px 70px 60px 70px;
  margin-bottom: 40px;
}

.sorting-hotels {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 40px;
}

.sorting-hotels-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 522px;
  gap: 70px;
}

.sorting-hotels-direction {
  display:flex;
  width: 292px;
  height: 49px;
  padding: 12px 20px;
  justify-content: space-between;
  color: #333333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.hotels-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0 0 40px 0;
  border-bottom: 1px solid #e6e6e6;
}

/* -- HOTEL CARDS -- */
.hotel-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 16px 20px;
  min-height: 438px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.hotel-card-link {
  grid-column: 1 / span 2;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  display: flex;
  justify-content: start;
  color: #000000;
  background-color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.hotel-card-type {
  display: flex;
  color: #000000;
  background-color:#ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.hotel-card-price {
  color: #000000;
  background-color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  text-align: right;
}

.hotel-card-detail-link {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.hotel-card-link-to-button {
  display: flex;
  border-radius: 4px;
  background-color: #756157;
  min-width: 140px;
  justify-content: center;
  align-items: center;
}

.hotel-card-star {
  width: 106px;
  min-height: 17px;
  align-self: center;
  background-image: url("../images/rating-star.svg");
  background-repeat: space;
}

.star-1 {
  width: 18px;
}
.star-2 {
  width: 40px;
}
.star-3 {
  width: 62px;
}
.star-4 {
  width: 84px;
}
.star-5 {
  width: 106px;
}

.hotel-card-rating {
  display: flex;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  min-width: 140px;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
}
/* -- END OF HOTEL CARD --*/

.pagination {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 8px;
  padding: 0;
}

.pagination-button {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 0 none;
  justify-content: center;
  align-items: center;
}

.pagination-button-current {
  color: #000000;
  background-color:#f2f2f2;
}

.pagination-button-fake {
  color: #000000;
  background-color:#ffffff;
}
